<button type="button" class="btn btn-primary mb-4" [routerLink]="['/']">
    <i class="fa fa-arrow-left" aria-hidden="true"></i> Users list </button>

<div class="card">
    <div class="card-header"> {{user}}'s Repositorys</div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped  mb-0" *ngIf="repos && repos.length >0">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Language</th>
                        <th scope="col">Size</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let el of repos">
                        <td>{{el.name}}</td>
                        <td>{{el.language}}</td>
                        <td> {{el.size}}</td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>

<div *ngIf="errorMessage" class="alert alert-danger">
    Error: {{ errorMessage }}
</div>