<span class="fa fa-spinner spinner"
      *ngIf="loading"></span>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <!--  Show this only on mobile to medium screens  -->
  <a class="navbar-brand d-lg-none" href="#">MY APP </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!--  Use flexbox utility classes to change how the child elements are justified  -->
  <div class="collapse navbar-collapse justify-content-between" id="navbarToggle">
    <!--   Show this only lg screens and up   -->
    <a class="navbar-brand d-none d-lg-block" href="#">MY APP </a>
  </div>
</nav>
<div class="container mt-5 mb-5">
  <router-outlet></router-outlet>
</div>